
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #F9A837;
  width: 375px;
  font-family: 'SF Pro Display', 'SF Pro Text', Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: bold;
}

.container{
  width: 375px;
  position: relative;
}

h1{
  display: inline;
  color: White;
  padding-top: 5px;
  font-size: 16px;
  padding-left: 12%;
  padding-bottom: 0;
}
h2{
  font-size: 16px;
  font-weight: normal;
}
h3{
  Color: Black;
  background-color: #fde0b7;
}

.search_bar{
  background-color: white;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px
}
#nav li{
  display: inline;
  list-style-type: none;
  padding: 0;
  margin: auto;
  width: 100%;
}
.nav{
  margin-left: 10px;
  margin: auto;
}
.top-nav{
  display: inline-block;
  align-items: center;
  width: 100%;
  padding-left:5px;
  margin: auto;
}
.info{
  display: inline;
  width: 100%;
  margin-left: 15px;
}
.eastbound_line{
  background-color: white;
  width: 100%;
}
.northbound_line{
  background-color: white;
  width: 100%;
}
.southbound_line{
  background-color: white;
  width: 100%;
}
.bus{
  font-size: 18px;
}
.reroute-line{
  background-color: white;
}
.out-of-service{
  background-color: white;
}

.bus_numbers{
  display: inline;
  padding-left: 55px;
}
#info ul{
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  padding:0;
}
.search{
  display: flex;
  align-items: center;

}
